@{
    ViewBag.Title = "Join";
}
@section HeadContent {
    @Styles.Render("~/Content/Student")
    @Styles.Render("~/Content/css")
}
<br />
<br />
<br />


<div ng-app="studentApp" ng-controller="ListCtrl as Vm" ng-cloak>
    <div>
        <table class="table table-bordered table-hover table-responsive">
            <tr>
                <th>
                    <span>FacultyId</span>
                </th>
                <th>
                    <span>FacultyName</span>
                </th>
                <th>
                    <span>FacultyEmail</span>
                </th>
                <th>
                    <span>Description</span>
                </th>
                <th>
                    <span>Tos</span>
                </th>
                <th>
                    <span>Special</span>
                </th>

                <th>
                    <span>Action</span>
                </th>
            </tr>
            <tr ng-repeat="data.Faculty in Vm.clientList">
                <td>{{data.Faculty.FacultyId}}</td>
                <td>{{data.Faculty.FacultyName}}</td>
                <td>{{data.Faculty.FacultyEmail}}</td>
                <td>{{data.Faculty.Description}}</td>
                <td>{{data.Faculty.Tos}}</td>
                <td>{{data.Faculty.Special}}</td>
                <td>
                    <md-checkbox class="chkbox" ng-model="data.TermsAndService" ng-disabled="true"></md-checkbox>
                </td>
                <td>
                    <md-checkbox ng-model="data.Special" ng-disabled="true"></md-checkbox>
                </td>
                <td>
                    <md-button class="buttontext md-raised md-primary" ng-click="Vm.ShowInfo(data.ClientId)">View</md-button>
                    <md-button class="buttontext md-raised md-primary" ng-click="Vm.UpdateClient(data.ClientId)">Update</md-button>
                    <md-button class="buttontext md-raised md-warn" ng-click="Vm.DeleteClient(data.ClientId)">Delete</md-button>

                </td>
            </tr>
        </table>
    </div>
</div>
